SPOTIFY_CLIENT_ID=0277cb45cf864c9cbc757f51654f96c9
SPOTIFY_CLIENT_SECRET=46dc1187122a46e4b04dadb44a635378
REDIRECT_URI=http://localhost:3001/auth/callback
FRONTEND_URL=http://localhost:5173
SESSION_SECRET=change_this_to_a_long_random_string
PORT=3001
